


.bigContainer {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem;
}

.navBarContainer {
    border: 1px solid rgb(30, 189, 78);
    padding: 1rem 3.5rem;
    margin: 4.6rem 2.5rem;
    height: 21rem;
    border-radius: 1rem;

    background-color: oklch(35.515% 0.09287 152.294)
    /* width: 20rem; */
}

.mainContentContainer {
    border: 1px solid red;
    /* padding: 0rem 2rem; */
    width:75rem;
    /* height: 40rem; */
}

.leads {
    display: flex;
    /* width: 63.5rem; */
    width: 65rem;
    padding: 0rem; 
    margin: 1rem;

    justify-content: space-around;
    /* gap: 1rem;  */
    flex-wrap: wrap;
    border: 0.1px solid rgb(102, 170, 6); 
}

.leadBoxes {
    padding: 2.9rem;
    border: 0.1px solid rgb(102, 170, 6);
    background-color: oklch(37.8% 0.077 168.94);
    border-radius: 0.5rem;
    margin: 0rem 0.3rem;
}


