.outerContainer {
    border: 1px solid rgb(136, 255, 0);
    /* background-color: */
    /* width: 100%; */
    margin: 1rem;
    margin-left: 3rem;

    /* height: 50rem; */
    /* padding: 2rem;   */
}


.bigContainer {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navBarContainer {
    border: 1px solid red;
    padding: 1rem 4rem;
    /* background-color: oklch(44.8% 0.119 151.328) */
    /* width: 20rem; */
}

.mainContentContainer {
    border: 1px solid red;
    padding: 0rem 10rem;
    /* width: 40rem; */


}

.leads {
    display: flex;
    /* width: 62rem; */
    justify-content: space-between;
    flex-wrap: wrap;
    /* border: 0.1px solid rgb(102, 170, 6);  */



}

.leadBoxes {
    padding: 2.9rem;
    border: 0.1px solid rgb(102, 170, 6);
    background-color: oklch(37.8% 0.077 168.94);
    border-radius: 0.5rem;
    margin: 0rem 0.3rem;
}

.filteredStatusBox {
    border: 1px solid rgb(5, 190, 116);
    border-radius: 0.3rem;
    background-color: rgb(48, 100, 79);
    padding: 1rem;
    width: 20rem;

}

.statusFilteredList {
    list-style: none;
}

.filBtnStyl {
    margin: 1rem;
    padding: 1rem;
    color: aqua;
    border: 1px solid rgb(5, 190, 116);
}