.addCommText {
    font-size: 16px;
}

.commContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* border: 1px solid blue; */
}

.commBox {
    border: 1px solid rgb(50, 143, 75);
    background-color: rgb(33, 48, 37);
    padding: 0.5rem;
    width: 35rem;
    border-radius: 1rem;
    margin: 1rem 0rem;
}

.typeComment {
    margin: 0.5rem 0rem;
}

.editBtn {
    background-color: oklch(85.5% 0.138 181.071);
    /* width: 10rem;
    height: 2rem; */
    padding: 0.3rem;

}

.editBtn:hover {
    background-color: oklch(70.4% 0.14 182.503);
    color: whitesmoke;
}


.editForm {
    border: 1px solid white;
    width: 30rem;
    height: 25rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}