/* .leadContainer {
    border: 1px solid rgb(126, 16, 228);
    width: 100rem;
    margin: 2rem;

} */
/* .container {
    border: 1px solid blueviolet;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.backButn {
    border: 1px solid blueviolet;
    padding:  1rem 4rem; 
} */

/* .midContainer {
    border: 1px solid rgb(167, 140, 192);
    padding: 0rem 5rem; 
    width: 70rem;
} */

.addCommText {
    font-size: 16px;
}

.commContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* border: 1px solid blue; */
}

.commBox {
    border: 1px solid rgb(50, 143, 75);
    background-color: rgb(33, 48, 37);
    padding: 0.5rem;
    width: 35rem;
    border-radius: 1rem;
    margin: 1rem 0rem;
}

.typeComment {
    margin: 0.5rem 0rem;
}