.formContainer {
    /* border: 1px solid red;  */
    width: 106rem;
    display: flex;
    justify-content: center;
}

.formStyle {
    border: 1px solid rgb(72, 224, 95);
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding: 2rem 5rem;
    border-radius: 1rem;
}

.text {
    display: flex;
    justify-content: center;
}

.formBox {
    /* border: 1px solid rgb(244, 240, 240);  */
    padding: 0.3rem;
}

label {
    font-size: 20px;
}

input {
    font-size: 20px;
    margin-left: 1rem;
    border-radius: 0.3rem;
}

.formButton {
    display: flex;
    justify-content: center;
}

.button {
    background-color: oklch(70.4% 0.14 182.503);
    color: white;

}

.button:hover {
    background-color: oklch(51.1% 0.096 186.391);
    border: none;

}

.leadContainer {
    border: 1px solid rgb(126, 16, 228);
    /* width: 100rem; */
    /* margin: 2rem 4rem; */
}

.container {
    border: 1px solid blueviolet;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.backButn {
    /* border: 1px solid blueviolet; */
    margin: 1rem 0rem;
    display: flex;
    justify-content: center;
    width: 18rem;
}


.midContainer {
    border: 1px solid rgb(167, 140, 192);
    /* padding: 0rem 5rem; */
    /* width: 70rem; */
}

.listBox {
    border: 1px solid rgb(5, 190, 116);
    border-radius: 0.3rem;
    background-color: rgb(48, 100, 79);
    padding: 1rem;
    width: 40rem;
}

.filBtnStyl {
    margin: 1rem;
    padding: 1rem;
    color: aqua;
    background-color: black;
    border: 0.1px solid rgb(5, 190, 116);
}

.filBtnStyl:hover {
    background-color: oklch(76.5% 0.177 163.223);
    border: 1px solid white;
    color: white;
}

.styleList {
    list-style: none;
}

.navLinkStyl {
    color: white;
}

.delBtn {
    width: 6rem;
    height: 3rem;
    background-color: oklch(70.4% 0.191 22.216);
    margin: 1rem;
    color: whitesmoke
}

.delBtn:hover {
    background-color: oklch(63.7% 0.237 25.331);
    border: none;
    color: aliceblue
}

.settingListCon {
    display: flex;
}

.inpStyl {
    font-size: 16px;
}


