.formContainer {
    /* border: 1px solid red;  */
    width: 106rem;
    display: flex;
    justify-content: center;
}

.formStyle {
    border: 1px solid rgb(72, 224, 95);
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding: 2rem 5rem;
    border-radius: 1rem;
}

.text {
    display: flex;
    justify-content: center;
}

.formBox {
    /* border: 1px solid rgb(244, 240, 240);  */
    padding: 0.3rem;
}

label {
    font-size: 20px;
}

input {
    font-size: 20px;
    margin-left: 1rem;
    border-radius: 0.3rem;
}

.formButton {
    display: flex;
    justify-content: center;
}

.button {
    background-color: rgb(34, 92, 35);
}

.button:hover {
    background-color: oklch(37.8% 0.077 168.94);
}

.leadContainer {
    /* border: 1px solid rgb(126, 16, 228); */
    width: 100rem;
    margin: 2rem;
}

.container {
    /* border: 1px solid blueviolet; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.backButn {
    /* border: 1px solid blueviolet; */
    /* padding: 1rem 4rem; */
    /* height: 0rem; */
    margin: 1rem 0rem;
    display: flex;
    justify-content: center;
    width: 18rem;

}

/* .btnback:hover{ */
    /* border :1px solid aquamarine; */
    /* background-color: aquamarine; */
    
    /* background-color: #7c3aed;  */
  /* border-color: #3cc09b;       */
  /* color: #fff;                 */
/* } */

.midContainer {
    /* border: 1px solid rgb(167, 140, 192); */
    padding: 0rem 5rem;
    width: 70rem;
}

.listBox {
    border: 1px solid rgb(5, 190, 116);
    border-radius: 0.3rem;
    background-color: rgb(48, 100, 79);
    padding: 1rem;
    width: 40rem;
}

.filBtnStyl {
    margin: 1rem;
    padding: 1rem;
    color: aqua;
    border: 1px solid rgb(5, 190, 116);
}

.styleList {
    list-style: none;
}

.navLinkStyl {
    color: white;
}